# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider / JetBrains
.idea/
*.sln.iml

# Dotnet publish output
publish/

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/
coverage/